
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

p {
  color: #8F8F8F;
}


/* Containers */

.container-fluid {
  padding: 7% 15%;
}


/* Sections */

.colored-section {
  background-color: #FF4C68;
  color: #fff;
}

.white-section {
  background-color: #FFF;
  color: #000;
}


/* Title Section */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}


/* Navigation Bar */

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}


/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}


/* Features Section */

#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.feature-icon {
  color: #EF8172;
  padding-bottom: 1rem;
}

.feature-icon:hover {
  color: #FF4C68;
}

.feature-text {
  font-weight: bold;
  font-size: 1.5rem;
}

/* Testimonials Section */

#testimonials {
  background-color: #EF8172;
}

.testimonial-image {
  width: 12%;
  border-radius: 100%;
  margin-top: 20px;
}

.testimonial-text {
  font-weight: bold;
  font-size: 3rem;
}


/* Press */

#press {
  background-color: #EF8172;
  padding: 3%;
}

.press-logo {
  width: 15%;
  padding: 0 20px 50px;
}


/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

.price-text {
  font-weight: bold;
  font-size: 3rem;
}

.price-text-h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

/* CTA Section */

.cta-head {
  padding: 3%;
  line-height: 1.5;
  font-size: 3rem;
}

.cta-btn {
  margin: 2% 1.5%;
}


/* Footer Section */

.footer-icon {
  padding: 2% 1%;
}

@media (max-width: 993px) {

  #title {
    text-align: center;
  }

  .title-img {
    transform: rotate(0);
    position: static;
  }
}
